<html>
  <head></head>
  <body>
    <p>
      Sentence to secretise: Shift how many?
    </p>
    <form>
      <input type='text' name='sentence' />
      <input type='text' name='shift' />
      <input type='submit' value="SECRETISE!" />
    </form>
    <p>
      <%= result %>
    </p>
  </body>
</html>
