<html>
  <head></head>
  <body>
    <p>
      Sentence to secretise:
    </p>
    <form>
      <input type='text' name='sentence' />
    </form>
    <p>
      Shift how many?
    </p>
    <form>
      <input type='text' name='shift' />
    </form>
    <p>
      <%= result %>
    </p>
  </body>
</html>
